extends layout

block content
    nav(class="navbar navbar-dark bg-primary")
        a.navbar-brand(href="#")
            img(src="../images/MIKE.png" style="width:75px; height:30px" class="d-inline-block align-top" alt="")
            span(style="margin-left: 20px;") Ego network of twitter data
        form.form-inline
            input(class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search")#userinput
            button(class="btn btn-outline-light my-2 my-sm-0" type="submit")#userrun Search
    .container-fluid
        .row
            .col-md-12(style="background-color: #f0eeee; padding: 0px;")
                .wrapper(style={'height': 'calc(100vh - 56px)'})
                    .egograph
                        svg#egonetwork
            .card(style="width: 30em; margin-bottom: 1em; margin-left: 1em; position: fixed; bottom: 0px; left: 0px;")
                .card-body#group_show
            //- .form-group(style="width: 20em; margin-bottom: 1em; margin-right: 1em; position: fixed; bottom: 0px; right: 0px;")
            //-     input(type="range" class="custom-range" min="0" max="5" step="1" id="layer_weight")

    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/jquery-3.3.1.slim.min.js')
    script(src='/javascripts/d3.v5.min.js')
    script(src='/javascripts/egonetwork.js')