extends layout

block content
    nav(class="navbar navbar-dark bg-primary")
        a.navbar-brand(href="#")
            img(src="../images/MIKE.png" style="width:75px; height:30px" class="d-inline-block align-top" alt="")
            span(style="margin-left: 20px;") Ego network of twitter data
        form.form-inline
            input(class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search")#userinput
            button(class="btn btn-outline-light my-2 my-sm-0" type="submit")#userrun Search
    .container-fluid
        .row#barcontainer
            .col-md-12(style="background-color: #f0eeee; padding: 0px;")
                .wrapper(style={'height': 'calc(100vh - 56px)'})
                    .egograph
                        svg#egonetwork
            .card(class="d-none")#info_card
                .card-body#info_show
            .card(class="d-none")#group_card
                .card-body#group_show
            .form-group(class="d-none")#scale_form
                //- input(type="range" class="custom-range" min="0" max="5" step="1" id="layer_weight" style="margin-right: 1em;")
            .form-group(class="d-none")#group_form
                button(class="btn btn-primary my-2 my-sm-0" type="submit")#clear_input Clear

    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/jquery-3.3.1.slim.min.js')
    script(src='/javascripts/d3.v5.min.js')
    script(src='/javascripts/egonetwork.js')