extends layout

block content
    nav(class="navbar navbar-dark bg-primary")
        a.navbar-brand(href="#")
            img(src="images/MIKE.png" style="width:75px; height:30px" class="d-inline-block align-top" alt="")
            span(style="margin-left: 20px;") Ego network of twitter data
    .container(style="background-color: salmon;" )
        a.index_head(href="/egonetwork") Ego network
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/popper.min.js')