extends layout

block content
    nav(class="navbar navbar-dark bg-primary")
        a.navbar-brand(href="#")
            img(src="/images/MIKE.png" style="width:75px; height:30px" class="d-inline-block align-top" alt="")
            //- span(style="margin-left: 20px;") Ego network of twitter data

    .container-fluid
        .jumbotron
            h1.display-4 Ego Network visualization
            p.lead
                | This is the ego network graph that shows a relation of users in Twitter data.
            hr.my-4
            p.lead
                | Instruction
            p
                | 1. Copy a Json data to '/public/data' in the project folder.
            P
                | 2. yarn start / npm start
            P   
                | 3. Read Instruction and press Let's go button
            P   
                | 4. Input filename of your interested Json data (ex. 'friendinterest_nosplit_5','friendinterest_split_5')
            P
                | 5. Input your interested username (ex. 'juthamas_rat', 'Baycoding')
            P
                | 6. press Search button
            br
            p.lead
                a.btn.btn-primary.btn-lg(href='/egonetwork', role='button') Let's go

    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/popper.min.js')