body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.index_head {
  padding: 20px;
  color: white;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

#info_card {
  margin-bottom: 1em;
  margin-right: 1em;
  position: fixed;
  top: 4.5em;
  right: 0px;
}

#group_form {
  margin-bottom: 1em;
  margin-right: 1em;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#group_card {
  margin-bottom: 1em;
  margin-left: 1em;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

#scale_form {
  margin-bottom: 1em;
  margin-right: 1em;
  position: fixed;
  bottom: 0.8em;
  right: 5.5em;
}

#barcontainer a:link {
  color: #007bff;
}

#barcontainer a:visited {
  color: #4366ff;
}

#barcontainer a:focus {
  border-bottom: 1px solid;
  background: rgb(137, 165, 255);
}

#barcontainer a:hover {
  border-bottom: 1px solid;
  background: rgb(161, 162, 247);
}

#barcontainer a:active {
  background: #8699f0;
  color: rgb(133, 154, 250);
}

.jumbotron {
  margin-top: 1em;
  padding-bottom: 0.1em;
}